<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.pipapps.bechitra.walleto">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SET_ALARM"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.pipapps.bechitra.walleto.MainActivity"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.pipapps.bechitra.walleto.activity.SpendingOrEarningDataSetterActivity"
            android:screenOrientation="fullSensor"/>

        <receiver android:name="com.pipapps.bechitra.walleto.AlertManager"/>

        <activity
            android:name="com.pipapps.bechitra.walleto.activity.DataEditorActivity"
            android:label="Information"/>
        <activity android:name="com.pipapps.bechitra.walleto.activity.CategoryItemViewerActivity"/>
        <activity android:name="com.pipapps.bechitra.walleto.activity.AccountManagementActivity"/>
        <activity android:name="com.pipapps.bechitra.walleto.activity.ScheduleDataViewerActivity"/>
        <activity android:name="com.pipapps.bechitra.walleto.activity.DataQueryActivity"/>
        <activity android:name="com.pipapps.bechitra.walleto.activity.ScheduleManagementActivity">
        </activity>
        <activity android:name="com.pipapps.bechitra.walleto.activity.SettingsActivity">
        </activity>
        <activity android:name="com.pipapps.bechitra.walleto.activity.CategorisedDataViewerActivity">
        </activity>
    </application>

</manifest>